:host {
  display: block;
}

.artist {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: var(--tui-link);
  font-size: 1.1rem;
  line-height: 2.5rem;
  font-weight: bold;

  &:hover {
    color: var(--tui-link-hover);
  }
}
