:root {
  --tui-primary: #f400be;
}

html,
body,
tui-root,
app-root {
  height: 100%;
}

.t-root-scrollbar > .t-bar_vertical {
  top: 5rem !important;
  bottom: 7rem !important;
}


a[tuiOption],
button[tuiOption] {
  justify-content: flex-start;
}
