<button tuiButton appearance="icon" size="m" icon="tuiIconHomeLarge">Dashboard</button>
<button tuiButton appearance="icon" size="m" icon="tuiIconGridLarge">Collection</button>
<button tuiButton appearance="icon" size="m" icon="tuiIconUsersLarge">Friends</button>
<h3>Playlists</h3>
<button tuiButton appearance="icon" size="m" icon="tuiIconHeartLarge">Favorites</button>
<button tuiButton appearance="icon" size="m" icon="tuiIconDiscLarge">Playlist #1</button>
<button tuiButton appearance="icon" size="m" icon="tuiIconDiscLarge">Playlist #2</button>
